@for $i from 1 through 10 {
    .gallery--item-#{$i} {
        grid-area: item-#{$i}
    }
}

.gallery-hld {
    min-height: 300px;
}

.gallery:first-of-type.loading {
    height: 300px;
}

.gallery {
    position: relative;
    height: auto;
    overflow: hidden;
    &.loading {
        height: 0;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: $c-white;
            z-index: 1;
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80px;
            height: 80px;
            background: url('img/loader.gif');
            background-size: cover;
            z-index: 2;
            transform: translate(-50%, -50%);
        }
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas: 
        "item-1 item-2 item-3 item-4"
        "item-5 item-5 item-6 item-7"
        "item-8 item-9 item-9 item-10";
    margin-bottom: 15px;
}

.gallery--1 {
    grid-template-areas: 
    "item-1"
}
.gallery--2 {
    grid-template-areas: 
    "item-1 item-2 ."
}

.gallery--3 {
    grid-template-areas: 
    "item-1 item-2 item-3 ."
}

.gallery--4 {
    grid-template-areas: 
    "item-1 item-2 item-3 item-4"
}

.gallery--5 {
    grid-template-areas: 
    "item-1 item-2 item-3 item-4"
    "item-5 item-5 . ."
}

.gallery--6 {
    grid-template-areas: 
    "item-1 item-2 item-3 item-4"
    "item-5 item-5 item-6 ."
}

.gallery--7 {
    grid-template-areas: 
    "item-1 item-2 item-3 item-4"
    "item-5 item-5 item-6 item-7"
}

.gallery--item {
    position: relative;   
    cursor: pointer;
    &-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    &-text {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        color: $c-white;
        background: rgba($c-accent, 0.6);
        transition: opacity .2s ease;
    }
    &:hover {
        .gallery--item-text {
            opacity: 1;
        }
    }
}

.gallery--button {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 15px;
    &__big {
        grid-column-start: 2;
        grid-column-end: 4;
        padding: 10px 0;
        background: $c-accent-dark;
        color: $c-white;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        transition: background-color .2s ease;
        &:hover {
            background-color: darken($c-accent-dark, 5%);
        }
        &:before {
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            background: $c-accent;
            z-index: 1;
            opacity: 0;
        }
        &:after {
            content: '';
            width: 40px;
            height: 40px;
            z-index: 2;
            position: absolute;
            left: 50%;
            top: 50%;
            background: url(img/loader-button.gif);
            background-size: cover;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
        &.loading {
            &:before, &:after {
                opacity: 1;
            }
        }
        &.invisible {
            display: none;
        }
    }
}
  