.popup {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba($c-black, 0.8);
}

.popup--image {
    position: fixed;
    width: 80%;
    max-width: 700px;
    top: 10vh;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.popup--close {
    position: absolute;
    top: -20px;
    right: 20px;
    cursor: pointer;
    &:before, &:after {
        content: '';
        position: absolute;
        width: 25px;
        height: 6px;
        background: $c-white;
        border-radius: 4px;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
    &:hover {
        &:before, &:after {
            background: darken($c-white, 10%);
        }
    }
}